### CORRELATION BETWEEN BARRICK GOLD AND THE PHYSICAL GOLD 
### BARRICK GOLD AND ETF GOLD PRODUCERS 
### PHYSICAL GOLD AND ETF GOLD PRODUCERS

In [2]:
!pip install yfinance
!pip install pandas-datareader
import pandas_datareader.data as web
import pandas as pd
import matplotlib.pyplot as py
import math
import datetime as dt
import os

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/7a/e8/b9d7104d3a4bf39924799067592d9e59119fcfc900a425a12e80a3123ec8/yfinance-0.1.55.tar.gz
Requirement already satisfied: pandas>=0.24 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from yfinance) (1.19.4)
Requirement already satisfied: requests>=2.20 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from yfinance) (2.25.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/69/e7/e9f1661c28f7b87abfa08cb0e8f51dad2240a9f4f741f02ea839835e6d18/multitasking-0.0.9.tar.gz
Collecting lxml>=4.5.1 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/bd/78/56a7c88a57d0d14945472535d0df9fb4bbad7d34ede658ec7961635c790e/lxml-4.6.2-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 511kB/s eta 0:00:01     |████████████▉                   | 2.2MB 5.7MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.24->yfinance) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/04/98/cc/2702a4242d60bdc14f48b4557c427ded1fe92aedf257d4565c
  Building wheel for multitasking (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/37/fa/73/d492849e319038eb4d986f5152e4b19ffb1bc0639da84d2677
Successfully built yfinance multitasking
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.6.2 multitasking-0.0.9 yfinance-0.1.55
Collecting pandas-datareader
  Downloading https://files.pythonhosted.org/packages/22/f1/a02eea03628865c3d4c29849cda8c8a73f43358048aee47d79dfbfa6c6c3/pandas_datareader-0.9.0-py3-none-any.whl (107kB)
     |████████████████████████████████| 112kB 5.0MB/s eta 0:00:01
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas-datareader) (4.6.2)
Requirement already satisfied: pandas>=0.23 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas-datareader) (1.1.5)
Requirement already satisfied: requests>=2.19.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas-datareader) (2.25.0)
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.23->pandas-datareader) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.23->pandas-datareader) (1.19.4)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.19.0->pandas-datareader) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0

In [3]:
start = dt.datetime(2001,1,1)
end = dt.datetime(2021,1,1)

In [4]:
df_barrick = web.DataReader('GOLD','yahoo', start, end)
df_gold = web.DataReader('GC=F','yahoo', start, end)
df_gold

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2001-01-02,268.399994,268.399994,268.399994,268.399994,0.0,268.399994
2001-01-03,268.000000,268.000000,268.000000,268.000000,1.0,268.000000
2001-01-04,267.299988,267.299988,267.299988,267.299988,1.0,267.299988
2001-01-05,268.000000,268.000000,268.000000,268.000000,0.0,268.000000
2001-01-08,268.000000,268.000000,268.000000,268.000000,0.0,268.000000
...,...,...,...,...,...,...
2020-12-23,1878.800049,1864.500000,1867.000000,1874.699951,82.0,1874.699951
2020-12-28,1895.800049,1873.699951,1895.500000,1877.199951,75.0,1877.199951
2020-12-29,1881.300049,1879.699951,1881.300049,1879.699951,343.0,1879.699951
2020-12-30,1895.800049,1877.300049,1879.900024,1891.000000,444.0,1891.000000
2020-12-31,1901.300049,1892.699951,1897.000000,1893.099976,127.0,1893.099976

In [5]:
barrick_rend = pd.DataFrame()
gold_rend = pd.DataFrame()

In [6]:
barrick_rend['Returns'] = df_barrick['Adj Close'].pct_change()
gold_rend['Returns'] = df_gold['Adj Close'].pct_change()

In [7]:
barrick_rend.dropna(inplace = True)
gold_rend.dropna(inplace = True)

In [8]:
corr_1 = gold_rend['Returns'].corr(barrick_rend['Returns'])
corr_1

0.5927428478643627

In [9]:
start_2 = dt.datetime(2012,1,1)
df_etfgold = web.DataReader('IS0E.DE', 'yahoo',start_2, end)

In [10]:
etfgold_rend = pd.DataFrame()
etfgold_rend['Returns'] = df_etfgold['Adj Close'].pct_change()

In [11]:
corr_2 = gold_rend['Returns'].corr(etfgold_rend['Returns'])
corr_2

0.661472171466775

In [12]:
corr_3 = barrick_rend['Returns'].corr(etfgold_rend['Returns'])
corr_3

0.5721933401781981

In [13]:
df_nem = web.DataReader('NEM', 'yahoo', start, end)
dfnem_rend = pd.DataFrame()
dfnem_rend['Returns'] = df_nem['Adj Close'].pct_change()

In [14]:
# correlation between newmont and Gold
corr_4 = gold_rend['Returns'].corr(dfnem_rend['Returns'])
corr_4

0.5501470970476928